{% extends 'index.html' %}

{% block recent_events %}
{% block content %}
    <div class="container">
        <h2 class="fw-bolder">Événements</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for event in events %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="{{ event.image.url }}" class="card-img-top" alt="Image de l'événement">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.nom }}</h5>
                            <p class="card-text">{{ event.description }}</p>
                            <p class="card-text">Date : {{ event.date }}</p>
                            <p class="card-text">Prix : {{ event.prix }} MAD</p>
                            <p class="card-text">Lieu : {{ event.ville }}, {{ event.pays }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'events:achat' event.id %}" class="btn btn-primary">Acheter un billet</a>
                            <br> </br>
                            <a href="{% url 'events:event_detail' event.id %}" class="btn btn-primary">Détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% endblock %}
