{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'events:home' %}">Z3D EVENTS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'events:home' %}">Accueil</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'authentification:logout' %}">Se déconnecter</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'authentification:login' %}">Se connecter</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'authentification:register_user' %}">S'inscrire</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Billets</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'events:event_list' %}">Tous les billets</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'events:home' %}">Nouveautés</a></li>
                    </ul>
                </li>
            </ul>

                <form class="d-flex ml-auto" action="{% url 'events:search' %}" method="GET">
                    <input id="search-input" class="form-control me-2" type="search" name="search_query" placeholder="Rechercher..." aria-label="Rechercher">
                    <button class="btn btn-outline-dark" type="submit">Rechercher</button>
                </form>


        </div>
    </div>
</nav>
